<h1>Not Your Mother's Cookbook</h1>
<p>Let's make recipes your way!</p>
<p>Login to your account or Signup</p>
 <button class="btn btn-outline-primary" type="login">login</button>
 <button class="btn btn-outline-primary" type="signup">Signup</button>


