{{!-- <h1>Login Page Wired!</h1> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link active" aria-current="page" href="#">Login</a>
        <a class="nav-link" href="#">Sign Up</a>
        <a class="nav-link disabled">Cookbook</a>
      </div>
    </div>
  </div>
</nav>

<h1>Not Your Mother's Cookbook</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" id="loginBtn" type="submit">Login</button>
        <h6>New User? Sign up here!</h6>
      </div>
    </form>
  </div>
<div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Create Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Create Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" id="registerBtn" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>