{{!-- <h1>Login Page Wired!</h1> --}}

{{!-- <h1 class="animate__swing">Not Your Mother's Cookbook</h1> --}}

<section class="loginBackground">
<div class="row" style="background-image: url(/images/login-background.jpg);
                       background-size: 100%;
                       align-items: center;
                       justify-content: center;">

  <div class="col-md-6" id="loginForm">
    <h2 style="font-family: 'Kalam';">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" id="loginBtn" type="submit">Login</button>
      </div>
    </form>
  </div>
  
  <div class="col-md-6" id="signupForm">
    <h2 style="font-family: 'Kalam';">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Create Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Create Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" id="registerBtn" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
</section>
<script src="/js/login.js"></script>