<h1>Not Your Mother's Cookbook</h1>
<div class="recipes"></div>
<h3>Recipes</h3>
</div>
<div class="container">{{recipeData}}</div>
<ol></ol>
!button[Add Recipe](./link-target.html)
<div class="favorites">
<h4>Favorites</h4>
</div>
<div class="container">{{favoritesData}}</div>