:root {
  --darkest: #0a0908;
  --dark: #22333b;
  --tan-dark: #5e503f;
  --tan-light: #a9927d;
  --pale-silver: #ccc5b9;
  --light: #f2f4f3;
}

* {
  font-family: 'Kalam', cursive;
  background-color: var(--dark);
}

body{
    background-color: var(--dark);
}
#title{
    color: var(--light);
   border: var(--darkest);
   text-decoration: underline;
}


header {
  background-color: var(--darkest);
  color: var(--tan-light);
  padding-top: 5%;
}

#user-logout {
  border: 2px solid #0a0908;
  color: #ccc5b9;
  background-color: #22333b;
}

.recipe_input {
  width: 80vh;
  text-align: center;
  font-size: x-large;
  width: fit-content;
}

.recipe_form {
  width: 50 vh;
  justify-content: center;
}

.loginBackground, .addRecipeBackground {
  height: 100vh;
  background-color: var(--darkest);
}

#loginForm, #signupForm {
  font-family: 'Kalam';
  color: white;
}

#password-login,
#password-signup {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#username-login, #password-login, #username-signup, #password-signup, #dish_name, #ingredients, #directions {
  background-color: rgba(0,0,0,.5);
  color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.row {
  text-align: center;
  vertical-align: 50vh;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  height: 70vh;
}
.row:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

h1 {
  text-shadow: 1px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  animation-duration: 6s;
color: var(--dark)
}

h2 {
  text-shadow: 1px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}



/* Recipe Page Styling */

.recipe-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--dark);
  height: 70vh;
}
/* Right Side - Recipe Side */
.recipe-card-holder {
  width: 64vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
 color: var(--dark);
  
}


/* Left Side - Favorites Side */
.favorite-side-bar {
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid white;
  justify-content: start;
  background-color: var(--pale-silver);
}
.favorite-menu-item {
  width: 15vw;
  border: 1px var(--dark);
  display: flex;
  justify-content: space-between;

}
.favorite-menu-item a {
  width: 100%;
}
.favorite-link {
  width: 80%;
  background-color: var(--pale-silver);
}
.remove-button {
  width: 20%;
  text-align: center;
}
/* Card Styling */
.recipePage{
    height: 100vh;
    background-color: var(--dark)
}
.recipe-card {
  width: 30vw;
  border: 5px solid var(--darkest);
  margin: 10px;
  height: auto;
  background-color: var(--pale-silver);
  color: var(--darkest);
}
.card-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
}
.favorite-button {
  border-radius: 50%;
  background-color: var(--tan-dark);
  border: none;
}

#add-recipe-btn{ 
    color: var(--light);
    background-color: var(--darkest);
    border: var(--darkest);
}

.removeBtn{
    background-color: var(--tan-light);  

}
#user-logout{
    color: var(--light);
   border-color: var(--light);
}